/Coding/Cpp/x64
/Coding/x64

/Coding/FSharp/bin
/Coding/FSharp/obj

/DirectX12Test01/DirectX12Test01/bin
/DirectX12Test01/DirectX12Test01/Debug
/DirectX12Test01/DirectX12Test01/obj
/DirectX12Test01/DirectX12Test01/x64